@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Web.Features.SharedViews.BaseCyanielViewModel>
@{
    Layout = "_Layout.cshtml";
}

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <div class="parent">
                        <img class="image1" src="/Content/img/larpworks_logo.png" width="600" />
                        <img class="image2" src="/Content/img/larpworks_index2.png" width="775" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
