@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Web.Features.SharedViews.BaseCyanielViewModel>
@{
    Layout = "_Layout.cshtml";
}
    
<div class="content-section">
    <br />
    <!--{{ utils.flashed_messages() }}-->
    <br />
    <div class="center">
        <h1>Login to Your Account</h1>
        <br />
        <!--{{ wtf.quick_form(form) }}-->
    </div>
</div>