@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Web.Features.SharedViews.BaseCyanielViewModel>
@{
    Layout = "_Layout.cshtml";
}

<div class="content-section">
    <div class="center">
        <h1>Register for an Account</h1>
        <br />
        <!--{{ wtf.quick_form(form) }}-->
    </div>
</div>
