@using System
@using LARPWorks.Cyaniel
@using LARPWorks.Cyaniel.Features.Buckets
@using LARPWorks.Cyaniel.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Features.Buckets.TicketViewModel>
@{
    Layout = "_Layout.cshtml";
}


<div class="content-section">
    <div class="form">
        <p>
            <input type="text" placeholder="Enter subject here...">
        </p>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default">Comment</button>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Resolve Ticket</button>
                <button type="button" class="btn btn-default">Close Ticket</button>
            </div>
        </div>
        <div class="hr-lalign">
            <span>Details</span>
        </div>
        <p>
            <label>Bucket</label>
            <input type="text" id="FundID" name="FundID">
            <label>Creator</label>
            <input type="text" id="SpeedKey" name="SpeedKey">
        </p>
        <p>
            <label>Status</label>
            <input type="text" id="Program" name="Program">
            <label>Assignee</label>
            <input type="text" id="Award" name="Award">
        </p>
        <div class="hr-lalign">
            <span>Description</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="height: 250px; overflow: auto;">
                <div id="editor-container">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="hr-lalign">
            <span>Comments</span>
        </div>
        <div class="comment-history">
            <ul class="form-comments">
                @foreach (CommentViewModel comment in Model.Comments)
                {
                    <li class="commentLi commentstep-1" data-commentid="4">
                        <table class="form-comments-table">
                            <tr>
                                <td>
                                    <div class="comment-timestamp">12:03 25/4/2016</div>
                                </td>
                                <td>
                                    <div class="comment-user">@comment.Author</div>
                                </td>
                                <td>
                                    <div id="comment-4" data-commentid="4" class="comment comment-step1">
                                        @comment.Comment
                                        <div id="commentactions-4" class="comment-actions">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Reply</button>
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['code-block']
            ]
        },
        //placeholder: 'Compose an epic...',
        theme: 'snow'  // or 'bubble'
    });
</script>